ENV_FILE=.env.example

POSTGRES_USER=change_me_user
POSTGRES_PASSWORD=change_me_password
POSTGRES_DB=change_me_db
DATABASE_URL=postgresql+asyncpg://change_me_user:change_me_password@postgres:5432/change_me_db

POSTGRES_NOTIFICATIONS_USER=change_me_notif_user
POSTGRES_NOTIFICATIONS_PASSWORD=change_me_notif_password
POSTGRES_NOTIFICATIONS_DB=change_me_notif_db
POSTGRES_NOTIFICATIONS_URL=postgresql+asyncpg://change_me_notif_user:change_me_notif_password@postgres-notifications:5432/change_me_notif_db

REDIS_URL=redis://redis:6379/0

WRITER_SERVICE_URL=http://writer-service:8001

WRITER_TIMEOUT_SECONDS=1.0
WRITER_MAX_RETRIES=1


RABBITMQ_USER=change_me_rabbit_user
RABBITMQ_PASSWORD=change_me_rabbit_password
RABBITMQ_PORT=5672
RABBITMQ_URL=amqp://change_me_rabbit_user:change_me_rabbit_password@rabbitmq:5672/

TELEGRAM_BOT_TOKEN=change_me_telegram_bot_token
SUPPORT_NUMBER=+10000000000
ANALYTICS_ADMIN_TOKEN=change_me_strong_private_token
TELEGRAM_BOT_SERVICE_URL=http://tu-telegram-bot
